
<h1>{{title | truncate}}</h1>
<h4>{{subTitle | uppercase}}</h4>
<h4>{{ jsonValue | json}}</h4>
<!-- two way binding -->
<input [(ngModel)]="title"/>
<br>
<!-- one way binding -->
<input [ngModel]="subTitle"/>
<br>
<button (click)="handleEvent()">Click me</button>
<br>

<input [(ngModel)]="user.name"/>
<input [(ngModel)]="user.age"/>
<input [(ngModel)]="user.id"/>
<br>
<a routerLink='first    '>first component</a><br>
<a routerLink='second'>second component</a><br>
<a routerLink='third'>third component</a><br>
<a routerLink='forth'>forth component</a><br>
<button (click)='goToRoute()' >go to forth component</button>
<router-outlet></router-outlet>
<!-- <div class="split left">
    <div class="centered">
    

    </div>
  </div>
  
  <div class="split right">
    <div class="centered"> -->
     
        <!-- <router-outlet></router-outlet> -->
    <!-- </div>
  </div> -->
<!-- for logic purpose, use ng-container -->
<ng-container *ngIf="showUser" >
    <app-user [user] ='user' (userEvent)="handleUserEvent($event)"></app-user>

</ng-container>

<!-- <ul *ngFor="let item of posts">
    <li>{{ item.id}}</li>
    <li>{{ item.title}}</li>
    <li>{{ item.body}}</li>
</ul> -->


<!-- use async to fix memory leak  -->
<!-- <ul *ngFor="let item of (scPosts | async); let i = index">
    <li>{{ i}}</li>
    <li>{{ item.title}}</li>
    <li>{{ item.body}}</li>
</ul> -->

<input type ="text" [formControl] = "favColorControl" name="testProp" >
{{favColorControl.value}}

<form [formGroup]="profileForm">
    <label>
        first name:
        <input type="text" formControlName="firstName">
    </label>
    <label>
        last name:
        <input type="text" formControlName="lastName">
    </label>
</form>